<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}" />
</head>
<body>

<form id="loginForm" th:action="@{/login}" method="post">
    <div class="form-group">
        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username" />
    </div>
    <div class="form-group">
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" />
    </div>

    <div class="button-group">
        <button type="submit">Entrar</button>
        <button type="button" class="forgot-password-btn" onclick="window.location.href='/esqueci-senha'">
            Esqueci a senha
        </button>
    </div>

    <div class="forgot-password-link">
        <a href="/esqueci-senha">Esqueceu sua senha?</a>
    </div>
</form>

<script th:src="@{/js/script.js}"></script>
</body>
</html>
